{% extends 'base.html.twig' %}

{% block title %}Gestion PC{% endblock %}

{% block body %}
    {% include 'partials/nav.html.twig' %}
    <div class="container mt-5">
        <div class="d-inline-block">
            <form action="{{ path('date') }}" method="post">
                <input id="date-input" name="date" value="{{ date|date('d/m/Y') }}" class="datepicker"><button id="show_date" class="btn btn-outline-primary ml-2"  type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <button class="float-right btn btn-primary" data-toggle="modal" data-target="#add-computer"> Ajouter un ordinateur</button>
        <div class="nav-container py-3"></div>
        {% include 'computer/modal/create.html.twig' %}
        {{ render(controller('App\\Controller\\ComputerController::indexComputer', { date : date|date('d/m/Y') })) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        const editComputerContainer = $('#edit-computer-container')

        const countIsAttributed = $('#is_select_date_attr').length
        $('#is_not_reserved').hide();


        $.datepicker.regional['fr'] = {
            dateFormat: 'dd/mm/yy',
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Aujourd\'hui',
            monthNames: ['Janvier','Fevrier','Mars','Avril','Mai','Juin',
                'Juillet','Aout','Septembre','Octobre','Novembre','Decembre'],
            monthNamesShort: ['Jan','Fev','Mar','Avr','Mai','Jun',
                'Jul','Aou','Sep','Oct','Nov','Dec'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: '',
            minDate: 0,
            maxDate: '+12M +0D',
            numberOfMonths: 1,


        };


        $.datepicker.setDefaults($.datepicker.regional['fr']);

        $('#date-input').datepicker()

        const countAttributeCustomer = $('.attributed-customer + .add-customer-attribution').length;
        for (let y = 0; y < countAttributeCustomer; y++) {
            $('.attributed-customer').hide()

            $('.attributed-customer + .add-customer-attribution').hide()
        }
        $('.ui-datepicker-week-end').on('click', function (){
            location.reload()
        })
        $("#add-customer-attribution").on('shown.bs.modal', function (e) {
            const date = $('#date-input').val()
            const hour = $(e.relatedTarget).data('hour');
            const computer = $(e.relatedTarget).data('computer')
            $(this).find('#hour').val(hour)
            $(this).find('.attribution-hour').text(hour + 'h - Durée 1h' )
            $(this).find('.attribution-date').text(date)

            $(this).find('#date').val(date)
            $(this).find('#computer').val(computer)
        });

    </script>
{% endblock %}

