{% extends 'base.html.twig' %}

{% block title %}Gestion PC{% endblock %}

{% block body %}
{% include 'partials/nav.html.twig' %}
    <div class="container mt-5">
        <div class="d-inline-block">
            <form action="{{ path('date') }}" method="post">
                <input id="date-input" name="date" value="{{ date }}" class="datepicker"><button id="show_date" class="ml-2 btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <button class="float-right btn btn-primary" data-toggle="modal" data-target="#add-computer"> Ajouter un ordinateur</button>
        <div class="nav-container py-3"></div>
        {% include 'computer/modal/create.html.twig' %}
        {{ render(controller('App\\Controller\\ComputerController::indexComputer', { date : date })) }}
    </div>
{% endblock %}

